@import url(http://fonts.googleapis.com/css?family=Oswald);
/* -------------------------------- 

Primary style

-------------------------------- */
/* line 8, styles.scss */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, styles.scss */
html {
  font-size: 62.5%;
}

/* line 17, styles.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 22, styles.scss */
body {
  font-size: 1.6rem;
  font-family: "Merriweather", serif;
  color: #243040;
  background-color: #ffffff;
}

/* line 29, styles.scss */
body, html {
  /* prevent horizontal scrolling */
  overflow-x: hidden;
}

/* line 34, styles.scss */
a {
  color: #9cb3a8;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
/* line 49, styles.scss */
main {
  position: relative;
  z-index: 2;
  /* fix bug on iOS */
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 250px 5%;
  background-color: #03BB91;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

/* line 74, styles.scss */
main.page-content {
  padding: 50px 200px;
}

/* line 77, styles.scss */
main h1, main p {
  text-align: center;
}

/* line 80, styles.scss */
main h1,
main h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  margin: 1em 0;
}

/* line 88, styles.scss */
main p {
  font-family: "Merriweather", serif;
  color: #d6dfdb;
  max-width: 450px;
  margin: 0 auto;
  line-height: 1.6;
}

/* line 95, styles.scss */
main ul,
main ul li a {
  font-size: 24px;
  color: #fff;
  font-family: "Merriweather", serif;
  line-height: 1.5;
  opacity: 0.8;
}

/* line 103, styles.scss */
main ul li a:hover {
  color: orange;
  text-decoration: underline;
  opacity: 1;
}

/* line 108, styles.scss */
.navigation-is-open main {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/* line 116, styles.scss */
.magento {
  background-color: #000;
}

.magento .animated {
	position: absolute;
	top: 50%;
	left: 80%;
	margin-top: -200px;
	margin-left: -170px;
}

/* line 123, styles.scss */
.wordpress {
  background-color: #2d9dcc;
}

.wordpress .animated {
	height: 350px;
	position: absolute;
	top: 50%;
	left: 80%;
	margin-top: -175px;
	margin-left: -175px;
}

/* line 131, styles.scss */
.dev {
  background-color: #fff;
}

/* line 135, styles.scss */
.magento a:hover {
  color: #F05A28;
}

/* line 139, styles.scss */
.dev a,
.dev,
.dev h1,
.dev h2,
.dev h3,
.dev h4,
.dev h5,
.dev h6 {
  color: #656e79;
}

/* line 149, styles.scss */
.dev a:hover {
  color: #33a9dc;
}

/* line 154, styles.scss */
.design {
  background: #ededed;
}

/* line 157, styles.scss */
.design,
.design h1,
.design h2,
.design h3,
.design h4,
.design h5,
.design h6 {
  color: #434343;
}

/* line 166, styles.scss */
.design a {
  color: #434343;
}

/* line 169, styles.scss */
.design a:hover {
  color: #338899;
}

/* line 172, styles.scss */
.design .holder {
  position: relative;
  float: right;
  width: 500px;
  height: 500px;
  display: block;
}

/* line 180, styles.scss */
.design #layer-1 {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  /* line 200, styles.scss */
  from {
    -ms-transform: rotate(0deg);
  }

  /* line 201, styles.scss */
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  /* line 204, styles.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 205, styles.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  /* line 208, styles.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 209, styles.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  /* line 212, styles.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 215, styles.scss */
  to {
    transform: rotate(360deg);
  }
}
/* line 219, styles.scss */
.design .shape-1, .design .shape-4 {
  opacity: 0.2;
}

/* line 222, styles.scss */
.design .shape-2, .design .shape-5 {
  opacity: 0.5;
}

/* line 225, styles.scss */
.design .shape-3, .design .shape-6 {
  opacity: 0.5;
}

/* line 228, styles.scss */
.design h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 46px;
  letter-spacing: -3.5px;
  color: #434343;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -35px;
}

/* line 241, styles.scss */
.dev .wrapper {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

/* line 246, styles.scss */
.dev .wrapper {
  text-align: center;
}
/* line 250, styles.scss */
.dev .wrapper::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3), 0 -4px 10px 5px rgba(0, 0, 0, 0.1);
  transform: perspective(200px) scaleX(2) translateY(10px) rotateX(45deg);
}

@keyframes spin {
  /* line 263, styles.scss */
  0% {
    transform: perspective(1000px) translateY(-2%) rotateY(0deg);
  }

  /* line 266, styles.scss */
  24% {
    opacity: 1;
  }

  /* line 267, styles.scss */
  25% {
    opacity: 0.5;
  }

  /* line 268, styles.scss */
  50% {
    transform: perspective(1000px) translateY(-5%) rotateY(180deg);
  }

  /* line 271, styles.scss */
  75% {
    opacity: 0.5;
  }

  /* line 272, styles.scss */
  76% {
    opacity: 1;
  }

  /* line 273, styles.scss */
  100% {
    transform: perspective(1000px) translateY(-2%) rotateY(360deg);
  }
}
/* line 278, styles.scss */
.dev .logo {
  display: block;
  animation: spin 30s linear infinite, spin-hard 30s step-start infinite;
}

@media only screen and (min-width: 768px) {
  /* line 284, styles.scss */
  main {
    padding: 250px 10%;
  }

  /* line 287, styles.scss */
  main h1 {
    font-size: 3.6rem;
  }

  /* line 290, styles.scss */
  main p {
    font-size: 2rem;
  }
}
/* line 295, styles.scss */
.cd-nav-trigger {
  position: fixed;
  z-index: 3;
  left: 5%;
  top: 20px;
  height: 54px;
  width: 54px;
  background-color: #243040;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}

/* line 312, styles.scss */
.cd-nav-trigger .cd-nav-icon {
  /* icon created in CSS */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 22px;
  height: 2px;
  background-color: #ffffff;
}

/* line 328, styles.scss */
.cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
  -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
  transition: transform 0.5s, width 0.5s, top 0.3s;
}

/* line 349, styles.scss */
.cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}

/* line 361, styles.scss */
.cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}

/* line 373, styles.scss */
.no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
  top: 2px;
}

/* line 376, styles.scss */
.no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
  top: -2px;
}

/* line 379, styles.scss */
.cd-nav-trigger svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 384, styles.scss */
.cd-nav-trigger circle {
  /* circle border animation */
  -webkit-transition: stroke-dashoffset 0.4s 0s;
  -moz-transition: stroke-dashoffset 0.4s 0s;
  transition: stroke-dashoffset 0.4s 0s;
}

/* line 390, styles.scss */
.navigation-is-open .cd-nav-trigger {
  /* rotate trigger when navigation becomes visible */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 398, styles.scss */
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  /* animate arrow --> from hamburger to arrow */
  width: 50%;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s;
  -moz-transition: -moz-transform 0.5s, width 0.5s;
  transition: transform 0.5s, width 0.5s;
}

/* line 406, styles.scss */
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 413, styles.scss */
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 420, styles.scss */
.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after, .no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
  top: 0;
}

/* line 423, styles.scss */
.navigation-is-open .cd-nav-trigger circle {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.4s 0.3s;
  -moz-transition: stroke-dashoffset 0.4s 0.3s;
  transition: stroke-dashoffset 0.4s 0.3s;
}

@media only screen and (min-width: 1170px) {
  /* line 430, styles.scss */
  .cd-nav-trigger {
    top: 40px;
  }
}
/* line 435, styles.scss */
.cd-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #243040;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.7s;
  -moz-transition: visibility 0s 0.7s;
  transition: visibility 0s 0.7s;
}

/* line 448, styles.scss */
.cd-nav .cd-navigation-wrapper {
  /* all navigation content */
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 40px 5% 40px calc(5% + 80px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}

/* line 474, styles.scss */
.navigation-is-open .cd-nav {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

/* line 480, styles.scss */
.navigation-is-open .cd-nav .cd-navigation-wrapper {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

/* line 493, styles.scss */
.cd-nav h2 {
  position: relative;
  margin-bottom: 1.7em;
  font-size: 1.3rem;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}

/* line 501, styles.scss */
.cd-nav h2::after {
  /* bottom separation line */
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}

/* line 511, styles.scss */
.cd-nav .cd-primary-nav {
  margin-top: 60px;
}

/* line 514, styles.scss */
.cd-nav .cd-primary-nav li {
  margin: 1.6em 0;
}

/* line 517, styles.scss */
.cd-nav .cd-primary-nav a {
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.3);
  display: inline-block;
}

/* line 523, styles.scss */
.cd-nav .cd-primary-nav a.selected {
  color: #ffffff;
}

/* line 526, styles.scss */
.no-touch .cd-nav .cd-primary-nav a:hover {
  color: #ffffff;
}

/* line 529, styles.scss */
.cd-nav .cd-contact-info {
  margin-top: 80px;
}

/* line 532, styles.scss */
.cd-nav .cd-contact-info li {
  font-family: "Merriweather", serif;
  margin-bottom: 1.5em;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.3);
}

/* line 538, styles.scss */
.cd-nav .cd-contact-info a {
  color: #ffffff;
}

/* line 541, styles.scss */
.cd-nav .cd-contact-info span {
  display: block;
}

/* line 544, styles.scss */
.cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
  font-size: 1.6rem;
}

@media only screen and (min-width: 1170px) {
  /* line 548, styles.scss */
  .cd-nav .cd-navigation-wrapper {
    padding: 62px 20%;
  }

  /* line 551, styles.scss */
  .cd-nav .cd-navigation-wrapper::after {
    clear: both;
    content: "";
    display: table;
  }

  /* line 556, styles.scss */
  .cd-nav .cd-half-block {
    width: 50%;
    float: left;
  }

  /* line 560, styles.scss */
  .cd-nav .cd-primary-nav {
    margin-top: 0;
  }

  /* line 563, styles.scss */
  .cd-nav h2 {
    font-size: 1.5rem;
    margin-bottom: 5.6em;
  }

  /* line 567, styles.scss */
  .cd-nav .cd-primary-nav li {
    margin: 2em 0;
  }

  /* line 570, styles.scss */
  .cd-nav .cd-primary-nav a {
    font-size: 4.4rem;
  }

  /* line 573, styles.scss */
  .cd-nav .cd-contact-info {
    margin-top: 120px;
    text-align: right;
  }

  /* line 577, styles.scss */
  .cd-nav .cd-contact-info li {
    margin-bottom: 2.4em;
  }

  /* line 580, styles.scss */
  .cd-nav .cd-contact-info li, .cd-nav .cd-contact-info a, .cd-nav .cd-contact-info span {
    font-size: 2rem;
  }
}
/* line 585, styles.scss */
.no-js main {
  height: auto;
  overflow: visible;
}

/* line 590, styles.scss */
.no-js .cd-nav {
  position: static;
  visibility: visible;
}

/* line 594, styles.scss */
.no-js .cd-nav .cd-navigation-wrapper {
  height: auto;
  overflow: visible;
  padding: 100px 5%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
@media all and (max-width: 1170px) {
	.wordpress .animated,
	.magento .animated {
		top: 15px;
		margin-top: 0;
		left: auto;
		margin-left: 0;
		right: 15px;
		height: 100px;
	}
	.design .holder {
	    position: absolute;
	    top: 15px;
	    right: 15px;
	    height: 100px;
	    width: 100px;
	}
	.design .holder svg {
		height: 100px;
		width: 100px;
	}
	.dev .wrapper {
	    position: absolute;
	    top: 100px;
	    left: auto;
	    right: 0;
	    transform: translate(-50%, -50%);
	}
	.dev .wrapper img {
		height: 100px;
	}
}
@media all and (max-width: 767px) {
	main {
	  padding: 100px 15px;
	}
	main.page-content {
		padding: 100px 15px;
	}
}